.navbar-subheading {
    font-size: 8px;
}

.article-thumbnail, .article-picture {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.article-thumbnail {
   width: 150px;
    height: 150px;
    float: right; 
}
.article-picture {
    width:300px;
    height:300px;
}

.article-row{
    max-height: 45vh;
    overflow:hidden;
    padding: 60px 40px 20px 40px;
    box-shadow:10px 10px 30px grey;
}

.full-article {
    color:black;
}


.full-article-container {
    padding-top:15px;
}

.article-meta {
    padding-left:15px;
}

#navbarColor01 {
    padding-left:20px;
}

.btn-outline-secondary {
    padding: 6px 16px 6px 16px;
}

.headline:hover {
    text-decoration: underline;
}

footer {
    padding-top: 60px;
    text-align: center;
}

/* authentication styling */
form {
    width: 50%;
}

.authentication-container {
    margin-top:20px;
}

.form-control {
    border:1px solid black;
}


.no-results-row {
    min-height: 70vh;
    text-align: center;
    padding-top:80px;
}

/* Comment section styling */
.hidden-input {
    display:none;
}

.comment-input {
    height:10vh;
}

.comment_form {
    width:100%;
}

.comment_button {
    float:right;
}


/* payment styling */
.payment-form {
    width:100%;
}
.donate-button {
    float:right;
}

/* Media Queries */
/* hide/reveal article summary based on screen size */
.article-summary {
    display:none;
}
@media screen and (min-width:768px) {.article-summary {
display:block!important;
}}