.navbar-subheading {
    font-size: 8px;
}

.article-thumbnail, .article-picture {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.article-thumbnail {
   width: 150px;
    height: 150px;
    float: right; 
}
.article-picture {
    width:300px;
    height:300px;
}

.article-row{
    max-height: 80vh;
    overflow:hidden;
    padding: 60px 40px 20px 40px;
    box-shadow:10px 10px 30px grey;
}

.full-article {
    color:black;
}

.full-article-container {
    padding-top:15px;
    margin-left:10px!important;
}

.article-meta {
    padding-left:15px;
}

#navbarColor01 {
    padding-left:20px;
}

.btn-outline-secondary {
    padding: 6px 16px 6px 16px;
}

.headline:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color:#c6c8ca;
    color:#fff;
}
.footer-para {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.article-date-div {
    font-size: 80%;
}
.remove-bottom-margin {
    margin-bottom: 0px;
}

/* AUTHENTICATION STYLING */
form {
    width: 50%;
}

.authentication-container {
    margin-top:20px;
}

.form-control {
    border:1px solid black;
}


.no-results-row {
    min-height: 70vh;
    text-align: center;
    padding-top:80px;
}

/* COMMENT SECTION STYLING */
.hidden-input {
    display:none;
}

.comment-input {
    height:10vh;
}

.comment_form {
    width:100%;
}

.comment_button {
    float:right;
}

#div_id_article_key, #div_id_comment_author, #div_id_author {
    display:none!important;
}

.log-in-container {
    text-align:center;
}

/* PAYMENT STYLING */
.payment-form {
    width:100%;
}
.donate-button {
    float:right;
}

/* DASHBOARD STYLING */
.dashboard-div {
    background-color:#c6c8ca;
    color:#fff;
    align-content:center;
    text-align: center;
}
.align-center {
    align-content:center;
    text-align: center;
}

/* MEDIA QUERIES */
/* hide/reveal article summary based on screen size */
.article-summary {
    display:none;
}
@media screen and (min-width:768px) {.article-summary {
display:block!important;
}}

/* comment form to render larger on mobile devices */
.comment-form {
    width:90%;
}
@media screen and (min-width:768px) {.comment-form {
width:50%;
}}


body {
    max-width:100vw!important;
}

.main-content{
    min-height: 95vh;
}