{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Independent Press</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
<div class="main-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">Independent Press <span class="navbar-subheading">- reader supported media</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
      </li>
      
      <!-- different navbar rendering depending on logged in status -->
      {% if user.is_authenticated %}
                  <!-- if user is a journalist they will have the capacity to write -->
                        {% if journalist %} 

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'write' %}">Write</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                    {%  else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        </li>
      {% endif %}
      
    </ul>
    
    <!-- Search box -->
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- message rendering -->
{% if messages %}
        {% for message in messages %} 
        <div class="alert alert-dismissible alert-primary">
            {{ message }} 
        </div>
        {% endfor %}
{% endif %}

{% block content %} {% endblock %}

</div>
    <footer>
        <div class="container">
            <p class="footer-para">Copyright Paraic Cooney 2019</p>
        </div>
    </footer>
</body>
</html>