{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 full-article-container">
            {% if article.image %}
            <div class="row">
            <div class="col-12 article-picture" style="background-image: url('{{ MEDIA_URL }}{{ article.image }}')"></div>
            {% endif %}
            </div>
            <h3>{{ article.headline }}</h3>
            <div class="row">
                <div class="article-meta">
                    <p><span class="boldtext">Published on:</span> {{ article.published_date }} </p>
                    <p><span class="boldtext">Author:</span> {{ article.author }}</p>
                    <p><span class="boldtext">Views:</span> {{article.views}}</p>
                    <hr>
                </div>
                <div class="full-article">
                    <p>{{ article.content|linebreaks }}</p>
                </div>
            </div>
            <hr>
            <div class="row">

               <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
   
            </div>
            
            {% for comment in comments %}
            <div>{{ comment.comment }}</div>
            
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}