{% extends 'base.html' %}

{% block content %}

<!-- if there are articles (search results may not return any) -->
{% if  articles %}
{% for article in articles %}
<div class="row article-row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
        <div class="col-5">
            <!-- longer headline will render smaller to avoid overflow -->
            {% if  article.headline|length >= 90 %}
            <a href="{% url 'full_article' article.id %}"><h7 class="headline">{{ article.headline }}</h7></a>
            {% elif  article.headline|length >= 70 %}
            <a href="{% url 'full_article' article.id %}"><h6 class="headline">{{ article.headline }}</h6></a>
            {% elif  article.headline|length >= 50 %}
            <a href="{% url 'full_article' article.id %}"><h5 class="headline">{{ article.headline }}</h5></a>
            {% else %}
            <a href="{% url 'full_article' article.id %}"><h4 class="headline">{{ article.headline }}</h4></a>
            {% endif %}
            
                <p>{{ article.author }}</p>
                <p><i class="fas fa-eye"></i> {{article.views}}</p>
        </div>
        <div class="col-7 article-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ article.image }}')">
        </div>
        </div>
                
    </div>
    <div class="article-summary col-6">
        <p>{{ article.content|truncatewords:40 }}
        <a href="{% url 'full_article' article.id %}"><button type="button" class="btn btn-outline-secondary">More</button></a></p>
    </div>
    
</div>


{% endfor %}

<!-- if there are no search results -->
{% else %}
<div class="no-results-row container">
    <h5>No results</h5>
</div>
{% endif %}


{% endblock %}